polkit.addRule(function(action, subject) {
    if ((action.id == "waydroid-launcher.polkit-helper") &&
         subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
